table {
    width: 50%;
    position: absolute;
    border: 1px solid black;
    left:25%
  }
  
  td {
    text-align: center;
    padding: 8px;
  }
  tr{
      width: 100%;
      height: 2vh;
      left:0%;
      margin-bottom: 2px;    

  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  tr:first-child{background-color: #04AA6D;
    color: white;}
  
