table {
    width: 50%;
    position: absolute;
    border: 1px solid black;
    left:25%;
    background-color:red;
  }
  
  td {
    padding: 1%;
    text-align: left;
  }
  tr{
      width: 100%;
      height: 2%;
      left:0%;
      margin-bottom: 2px;    

  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  tr:first-child{background-color: blue;
    color: white;}
    tr:nth-child(2){background-color:blue;opacity: 0.6;}

  
